<div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-10 mx-auto">
        <div class="card rounded shadow border-0">
          <div class="card-body p-5 bg-white rounded">
            <div class="table-responsive">
              <table id="example" style="width:100%" class="table table-striped table-bordered">
                <thead id="<%= info.page%>">
                  <tr>
                    <th style="display:none;">ConvFactor</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Barcode</th>
                    <!-- <th>Branch</th> -->
                    <!-- <th>Avg. Daily Sale</th>
                    <th>On Hand</th> -->
                    <!-- <th>Min</th>
                    <th id="max-th">Max</th> -->
                    <th>Order</th>
                    <!-- <th>Price</th> -->
                    <th>Unit</th>
                  </tr>
                </thead>
                <% if(info.results) { %>
                <tbody id="tbody">
                  <% for(let i=0; i < info.results.length; i++){ const item = info.results[i] %>
                    <% if(item.Order > 0) {
                      if((info.page == 'transfer') && (info.results[0].Warehousefrom == 102)) { %>
                        <tr 
                          class="trEfects semi-active" 
                          id="tr-<%= item.id %>"
                          style="background-color:#ffd861"
                        >
                      <% } else { %>  
                        <tr 
                          class="trEfects active-input" 
                          id="tr-<%= item.id %>"
                          style="background-color:green"
                        >
                      <% }
                    } else { %>
                      <tr class="trEfects hide" id="tr-<%= item.id %>">
                    <% } %>
                      <td style="display:none;" id="conv<%= item.id %>"><%= item.ConvFactor %></td>
                      <td id="td-<%= item.id %>"><%= item.ItemCode %></td>
                      <td id="td-<%= item.id %>"><%= item.ItemName %></td>
                      <td id="td-<%= item.id %>"><%= item.CodeBars %></td>
                      <!-- <td id="td-<%= item.id %>"><%= item.ListName %></td> -->
                      <!-- <td id="td-<%= item.id %>"><%= item.AvgDaily %></td>
                      <td id="onHand-<%= item.id %>"><%= item.OnHand %></td>
                      <td id="min-<%= item.id %>"><%= item.MinStock %></td>
                      <td id="max-<%= item.id %>"><%= item.MaxStock %></td> -->
                      <% if(item.Order > 0) { %>
                        <td id="td-<%= item.id %>" style="display: flex;justify-content: center;"><input id="input-<%= item.id %>" type="number" style="width: 100px;" step="0.0" value="<%= item.Order %>"/></td>
                      <% } else { %>
                        <td id="td-<%= item.id %>" style="display: flex;justify-content: center;"><input id="input-<%= item.id %>" type="number" style="width: 100px;" step="0.0"/></td>
                      <% } %>
                      <!-- <td id="td-<%= item.id %>"><%= item.Price %></td> -->
                      <td id="uom-<%= item.id %>"><%= item.BuyUnitMsr %></td>
                    </tr>
                  <% }; %>
                </tbody>
                <% } %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>