<div id="demo-modal" class="modal-v">
    <div class="report__content">
      <div id="closeDiv">
        <button id='close'>X</button>
      </div>
      <div class="container py-5">
          <div class="row py-5">
            <div class="col-lg-10 mx-auto">
              <div class="card rounded shadow border-0">
                <div class="card-body p-5 bg-white rounded">
                  <div class="table-responsive">
                    <table id="example" style="width:100%" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Barcode</th>
                            <th>Vendor Name</th>
                            <th style="display:none;">Card Code</th>
                            <th>P.O Number</th>
                            <th>Qty</th>
                            <th >Qty P.O</th>
                            <th>Unit</th>
                        </tr>
                      </thead>
                      <% if(results) { %>
                      <tbody id="tbody">
                        <% for(let i=0; i < results.length; i++){ const item = results[i] %>
                          <tr class="trEfects">
                            <td id="td1-<%= item.id %>"><%= item.ItemCode %></td>
                            <td id="td2-<%= item.id %>"><%= item.Dscription %></td>
                            <td id="td3-<%= item.id %>"><%= item.CodeBars %></td>
                            <td id="td4-<%= item.id %>"><%= item.CardName %></td>
                            <td style="display:none;" id="td5-<%= item.id %>"><%= item.CardCode %></td>
                            <td id="td6-<%= item.id %>"><%= item.DocNum %></td>
                            <td style="text-align: center;"><div><%= item.Order %></div></td>
                            <td id="QtyRec-<%= item.id %>"><%= item.OpenQty %></td>
                            <td id="td7-<%= item.id %>"><%= item.UgpName %></td>
                          </tr>
                        <% }; %>
                      </tbody>
                      <% } %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>